/*
* @Author: Administrator
* @Date:   2017-09-25 23:40:31
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-25 23:47:44
*/
.footer{
    padding-bottom: 10px;
}

.footer .links,
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}

.footer .links .link{
    padding: 0 10px;
}
