<div class="footer">
    <div class="w">
        <div class="links">
            <a href="#" class="link">慕课网</a> |
            <a href="#" class="link">百度</a> |
            <a href="#" class="link">网易云</a> |
            <a href="#" class="link">淘宝</a> |
            <a href="#" class="link">知乎</a>
        </div>
        <p class="copyright">
            Copyright @ 2017 OhMyMy.com All Right Reserved
        </p>
    </div>
</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>