<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- 关键字 -->
<meta name="keyword" content="MMall, ohmymy, MMall电商, 网上购物, 网上商城, 数码产品, 手机, 笔记本, 空调, 洗衣机,  手机, 手表, 耳机, 电商网页制作">
<!-- 描述 -->
<meta name="description" content="一个提供数码通讯, 手机, 电源, 家居百货, 服装服饰, 图书, 食品等数万种优质商品, 最实惠, 最便捷的网上购物平台">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.happymmall.com">
<link rel="dns-prefetch" href="//img.happymmall.com">